---
import Layout from '../layouts/Layout.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import KeyVisual from '../components/top/KeyVisual.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<KeyVisual />
	<main>
	   <h1>Home 独自にコンテンツを作成する</h1>
	</main>
</Layout>



